#nav-bar {
  background-color: transparent !important;
  background-image: none !important;
}

.browser-toolbox-background {
  background-color: #26282b !important;
}

.tab-label {
  color: #aaa !important;
}

.tab-label:is([selected]) {
  color: white !important;
}

.tab-background:is([selected]) {
  background-color: #37373b !important;
}

#PersonalToolbar {
  background-color: #26282b !important;
  color: #aaa !important;
}
